.Homepage-contaier {
    width: 100%;
    margin-top: 50px;
}

.Homepage-carousel {
    
}

 


@media screen and (min-width: 360px){
    .Homepage-contaier {
        width: 100%;
    }

    .Homepage-carousel {
        width: 100%;
    }
   
}