.Homepage-contaier {
    width: 100%;
    margin-top: 50px;
} 
 


@media screen and (min-width: 760px){
    .Homepage-contaier {
        width: 100%;
        background-color: transparent !important;
    }

    .Homepage-carousel {
        width: 1200px;
    }
 

    .Homepage-contaier h1 {
        margin-left: 50px;
    }

    .jumbotron {
        background-color: transparent;
    }

    .img {
        margin-left: 0px;
    }
   
}