.team-container {
    width: 100%;
}

.card-container {
    width: 310px;
    display: flex;
    flex-direction: column;
}

.team-container  h3 {
    background-color: turquoise;
    margin-top: 30px;
}

.member-card {
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    align-content: space-between;
    margin-top: 40px;
    /* flex-wrap: wrap; */
}

.cards {
    
}

.member-img{
    width: 110px;
}




@media screen and (min-width: 680px) {
    .team-container {
        width: 1350px;
    }

    .card-container {
        display: flex;
        flex-direction: row;
    }


}