 
    .socialShareButton {
        width: 180px;
        padding: 10px;
        /* margin-right: 80px; */
        margin-top: 20px;
        background-color: turquoise;
        color: white;
        border: 1px solid #888;
        border-radius: 50px 50px 50px 50px; 
        -moz-border-radius: 50px 50px 50px 50px; 
        -webkit-border-radius: 50px 50px 50px 50px;
     
    }

    .closeShare {
        display: none;
        opacity: 0;
    }
    .openShare {
        display: block;
        opacity: 1;
        animation: socialShareAnimation 1s;
    }
   

    .social-image {
        width: 40px;
        margin-left: 130px;
        margin-top: 10px;
         
    }


    @media screen and (min-width: 360px) {


    .socialShareButton {
        width: 180px;
        padding: 10px;
        margin-left:  230px;
        margin-top: 20px;
    }

    img {
        width: 20px;
        margin-left: 30px;
        margin-top: 5px;
         
    }


    }