

.footer-container {
    width: 100vw;
    background-color: #f2f2f2;
    
}

.footer-container .footer-wrapper{ 
    max-width: 300px;
    
    
}

.logo-image {
    margin-top: 80px;
    width: 150px;
}
 
.footer-wrapper .useful-links h2 {
    text-align: left;
    font-size: 1em; 
    font-weight: 400;
    color: #888;
}

.footer-wrapper .privacy-links h2 {
    /* height: 50%; */
    text-align: left;
    font-size: 1em;
    font-weight: 400;
    color: #888;
}
 

.copyright p {
    justify-items: end;
    color: #888;
    flex-direction: row;
    font-size: .8em;
}

.footer-image {
    width: 100%; 
    position: bottom left;     
}

@media screen and (min-width: 360px){


}