.main-container {
    height: auto;
    width: 100%;
    /* padding-top: 80px; */
}

.main-container h3 {
    width: 278px; 
    margin-left: 10px;
    background-color: #40e0d0;
}

.cards-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 300px;
    margin-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    
}

.radio-card {
    width: 300px;
   
}


.radio-background {
    /* background-image: url("card.png");
    background-repeat: no-repeat;  */
    
    /* height: 450px; */
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.radio-image {
    width: 200px;
    height: 200px;
}

.card-footer {
    background-color: #f2f2f2;
    /* width: 50%; */
}


@media screen and (min-width: 360px) {
    .main-container {
        width: 1200px;
        height: auto;
        margin: 0px;
        padding-top: 80px;
    }
    
    .main-container h3 {
        background-color: turquoise;
    }
    
    .cards-layout {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
        width: 100%;
        margin-top: 40px;
        
    }
    
    .radio-card {
       width: 250px;
       height: 600px;
       margin: 10px;
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
    
    }

    .radio-background {
        width: 100%;
        align-items: center;
    }
    
    .radio-image {
        width: 200px;
        height: 200px;
    }
    
    .card-footer {
        /* background-color: coral; */
        width: 100%;
    }
}