.home-container {
    width: 310px;
    margin-top: 30px;
}

.home-container h3 {
    background-color: turquoise;
}

.home-container .layout {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    /* align-content: center; */
    flex-wrap: wrap;
}

.layout .radio-card {
    width: 100px;
    align-self: center;
    
}

.home-container .link a{
    color: black;
    font-size: 1.2em;
    font-weight: 700;
   
}