.App {
    width: 300px;
    top: 0;
    bottom: 0;
    left: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    /* background-color: rgb(205, 248, 209); */
}

.app-main-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    /* border: 1px solid rgb(57, 20, 221); */
}
 

.page-views {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
}

a {
    color: #40e0d0;
}

.footer {
    width: 300px;
    min-height: 100vh;  
    margin-bottom: 0px;
}


@media screen and (min-width: 360px){
 .App {
    width: 1200px;
    display: flex;
    flex-direction: column;
 }

 .app-main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
 
}

 .page-views {
     display: flex;
     flex-direction: column;
 }

 

.side-menu {
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: red;
}
}